/* ----- General ----- */

html {
    color: white;
    background: black url(../img/Lay-transformed.png) no-repeat fixed;
    background-size: cover;
}

/* ----- Body ----- */
/* Navigation bar (Header) */

nav {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    list-style-type: none;
    padding: 0.1em 4em;
    transition: 0.5s;
    text-transform: uppercase;
}

nav li a {
    text-decoration: none;
    color: inherit;
}

#home {
    color: #00d800;
}

nav ul #home:hover {
    margin-top: 0.05em;
    font-size: 1.7em;
    text-shadow: 0 0 20px #00ff00 !important;
}
nav ul #artist:hover {
    margin-top: 0.05em;
    font-size: 1.7em;
}
nav ul #albums:hover {
    font-size: 1.7em;
}
nav ul #singles:hover {
    font-size: 1.7em;
}
nav ul #about:hover {
    font-size: 1.7em;
}


/* Footer */

footer {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3em;
    text-align: center;
}

footer p a {
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    color: inherit;
}

footer p {
    font-weight: unset;
    font-size: small;
}
/* Main section */

#main {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: auto 3em auto 3em;
}

/* ----- Albums ----- */
.album_covers {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    gap: 20px;
}

#Anderson_Cover {
    text-align: center;
}
#Trinity_Cover {
    text-align: center;
}

#Anderson_img {
    height: 70%;
    width: 70%;
    border-radius: 1em;
    transition: 0.5s;
    opacity: 0.8;
}
#Anderson_img:hover {
    opacity: 1;
    height: 72%;
    width: 72%;
}

#Trinity_img {
    height: 70%;
    width: 70%;
    border-radius: 1em;
    transition: 0.5s;
    opacity: 0.8;
}
#Trinity_img:hover {
    opacity: 1;
    height: 72%;
    width: 72%;
}