/* ----- General ----- */

html {
    color: white;
    background: black url(../img/Lay-transformed.png) no-repeat fixed;
    background-size: cover;
}

a:link, a:visited {
    text-decoration: none;
}

@font-face {
    font-family: ImpactFont;
    src: url("../font/airstrikeexpand-webfont.woff")format("woff");
}

/* ----- Body ----- */
/* Navigation bar (Header) */

nav {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px solid #8c8c8c;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    list-style-type: none;
    padding: 0.1em 3em;
    transition: 0.5s;
    text-transform: uppercase;
}

nav li a {
    text-decoration: none;
    color: inherit;
}

#home {
    color: #00d800;
}

nav ul #home:hover {
    margin-top: 0.05em;
    font-size: 1.7em;
    text-shadow: 0 0 20px #00ff00 !important;
}
nav ul #artist:hover {
    margin-top: 0.05em;
    font-size: 1.7em;
}
nav ul #albums:hover {
    font-size: 1.7em;
}
nav ul #singles:hover {
    font-size: 1.7em;
}
nav ul #about:hover {
    font-size: 1.7em;
}
nav ul #quiz:hover {
    font-size: 1.7em;
}

#back_icon_Trinity {
    padding: 0.5em;
    color: #00d800;
    font-size: 2.5em;
    transition: 0.2s;
}
#back_icon_Trinity:hover {
    font-size: 3em;
    text-shadow: 0 0 30px #00ff00 !important;
}

#back_icon_Anderson {
    padding: 0.5em;
    color: #cc9c7e;
    font-size: 2.5em;
    transition: 0.2s;
}
#back_icon_Anderson:hover {
    font-size: 3em;
    text-shadow: 0 0 30px #cc9c7e !important;
}

/* Footer */

footer {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3em;
    text-align: center;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(121, 121, 244, 0));
}

footer p a {
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    color: inherit;
}

footer p {
    font-weight: unset;
    font-size: small;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto 3em auto 3em;
}

/* ----- Home page ----- */
#latest_release_img {
    border-radius: 10px;
    width: 20%;
    transition: 0.5s;
}
#latest_release_img:hover {
    width: 21%;
}

#latest_release {
    text-align: center;
    margin-top: 3em;
}

#album_Anderson {
    margin-top: 4em;
    margin-bottom: 4em;
}

#latest_release h1 {
    font-size: 4em;
    font-family: "ImpactFont", serif;
    background: linear-gradient(to right, rgba(42, 168, 0, 0), #cc9c7e, rgba(42, 168, 0, 0));
    color: rgba(255, 255, 255, 0.8);
}

#title_latest_release {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}

/* ----- Albums page ----- */
#album_covers {
    margin-top: 3em;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    gap: 20px;
}

#Anderson_Cover {
    text-align: center;
}
#Trinity_Cover {
    text-align: center;
}

#Anderson_img {
    height: 70%;
    width: 70%;
    border-radius: 1em;
    transition: 0.5s;
    box-shadow: 0 0 0 #cc9c7e !important;
    opacity: 0.8;
}
#Anderson_img:hover {
    opacity: 1;
    height: 72%;
    width: 72%;
    box-shadow: 0 0 40px #cc9c7e !important;
}

#Trinity_img {
    height: 73%;
    width: 73%;
    border-radius: 1em;
    transition: 0.5s;
    box-shadow: 0 0 0 #00a800 !important;
    opacity: 0.8;
}
#Trinity_img:hover {
    opacity: 1;
    height: 75%;
    width: 75%;
    box-shadow: 0 0 40px #00a800 !important;
}

#album_covers p {
    font-weight: bold;
}

/* ----- Each Album pages ----- */
.top {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    margin-left: 12.75em;
    margin-bottom: 2em;
}

#cover {
    border-radius: 10px;
    width: 30%;
    height: 30%;
    flex-shrink: 0;
}

#cover_text_anderson {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    font-weight: bolder;
    font-size: 3em;
    text-transform: uppercase;
    color: #cc9c7e;
}

#cover_text_trinity {
    margin-top: 1.25em;
    margin-bottom: 0.25em;
    font-weight: bolder;
    font-size: 3em;
    text-transform: uppercase;
    color: #00a800;
}

#name_artist_anderson {
    font-style: italic;
    font-weight: bold;
    color: #93715b;
    margin-bottom: 9em;
    margin-top: 0;
    transition: 0.5s;
}
#name_artist_anderson:hover {
    font-size: 1.1em;
}
#name_artist_trinity {
    font-style: italic;
    font-weight: bold;
    color: #00a800;
    margin-bottom: 10.5em;
    margin-top: 0;
    transition: 0.5s;
}
#name_artist_trinity:hover {
    font-size: 1.1em;
}

.fa-brands {
    font-size: 2em;
    margin-right: 0.5em;
    transition: 0.5s;
}
.fa-brands:hover {
    font-size: 3em;
}
.fa-deezer {
    margin-left: 0.5em;
    background: linear-gradient(to left, rgb(255, 130, 63), rgb(51, 228, 61));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-spotify {
    color: #00d800;
}
.fa-itunes {
    background: linear-gradient(to right, rgb(255, 63, 109), rgb(121,121,244));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-youtube {
    color: #ff4848;
}

.table {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.title_table {
    width: 100%;
    border-collapse: collapse;
}

#Trinity_head {
    background-color: rgba(0, 168, 0, 0.8);
}

#Anderson_head {
    background-color: rgba(204, 156, 126, 0.8);
}

.title_table th,
.title_table td {
    padding: 1em;
    text-align: left;
}

.title_table th {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
}

.title_table tbody tr {
    border-bottom: 1px solid #404040;
    transition: background-color 0.3s ease;
}

.title_table tbody tr:nth-child(even) {
    background-color: rgba(50, 50, 50, 0.6);
}

.title_table tbody tr:hover {
    background-color: rgba(83, 83, 83, 0.6);
}

.title_table tbody td {
    font-size: 1em;
    color: #B3B3B3;
}

.advice {
    width: 80%;
    max-width: 1000px;
    margin: 3em auto 0;
}

.advice h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
    font-family: ImpactFont, serif;
}

#title_advice_Anderson {
    color: white;
    background: linear-gradient(to right, rgba(204, 156, 126, 0.15), rgba(204, 156, 126, 0.7), rgba(204, 156, 126, 0.15));
    border-radius: 10em;
}

#title_advice_Trinity {
    color: white;
    background: linear-gradient(to right, rgba(0, 216, 0, 0.15), rgba(0, 216, 0, 0.7), rgba(0, 216, 0, 0.15));
    border-radius: 10em;
}

#advice_content {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
    color: #B3B3B3;
}

#advice_content ol {
    list-style: disc;
}

#advice_content li {
    padding: 0.5em;
    max-width: 95%;
}

.quizzButton{
    width: 500px;
    cursor: pointer;
    background: red;
    padding: 0;
}

.quizzButton img{
    width: 500px;
}
+
#main\ quiz{
    position: relative;
    display: inline-block;
    align-content: center;
}

#main\ quiz div{
    margin: 5em;
}

.questions_style li {
    list-style-type: none;
}

#display_quiz_findsong {
    width: 80%;
    max-width: 1000px;
    margin: 3em auto 0;
    display: none;
}